# Next.js build output
.next/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase & Vercel
.firebase/
.vercel
.dataconnect

# SQLite local database
prisma/dev.db
prisma/dev.db-journal

# Dependency directories
node_modules/

# Environment variables
.env
.env.local
.env.production

# Uploads directory
public/uploads/*
!public/uploads/.gitkeep
